<a href="https://colab.research.google.com/github/GezhinOleg/PyDa_L6/blob/main/exception_and_errors.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

'''
Задание 1
Печатные газеты использовали свой формат дат для каждого выпуска.
Для каждой газеты из списка напишите формат указанной даты
для перевода в объект datetime:
The Moscow Times - Wednesday, October 2, 2002
The Guardian - Friday, 11.10.13
Daily News - Thursday, 18 August 1977
'''

In [1]:
from datetime import datetime

In [2]:
the_moscow_times = 'Friday, 11.10.13'
the_guardian = 'Friday, 11.10.13'
daily_news = 'Thursday, 18 August 1977'

print(datetime.strptime(the_moscow_times, '%A, %d.%m.%y'))
print(datetime.strptime(the_guardian, '%A, %m.%d.%y'))
print(datetime.strptime(daily_news, '%A, %d %B %Y'))

2013-10-11 00:00:00
2013-11-10 00:00:00
1977-08-18 00:00:00

Задание 2
Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]
Напишите функцию, которая проверяет эти даты на корректность.
Т. е. для каждой даты возвращает True (дата корректна)
или False (некорректная дата).

In [3]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']
for d in stream:
    try:
        datetime.strptime(d, '%Y-%m-%d')
    except:
        print(d, 'False (некорректная дата)')
    else:
        print(d,'True (дата корректна)')

2018-04-02 True (дата корректна)
2018-02-29 False (некорректная дата)
2018-19-02 False (некорректная дата)

Задание 3
Напишите функцию date_range, которая возвращает список дат за период
от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD.
В случае неверного формата или при start_date > end_date должен
возвращаться пустой список.

In [5]:
from datetime import datetime
from datetime import timedelta

In [6]:
start_date = input('Введите дату в формате YYYY-MM-DD: ')
end_date = input('Введите дату в формате YYYY-MM-DD: ')

Введите дату в формате YYYY-MM-DD: 2018-11-02
Введите дату в формате YYYY-MM-DD: 2018-11-08

In [7]:
def date_true_(s_d, e_d):
  '''
  функция проверки правильности формата ввода данных. В случае неверного ввода
  переменной flag присваивается значение False
  '''
    flag = True
    try:
        datetime.strptime(s_d, '%Y-%m-%d')
    except:
        flag = False
        error_s = 'False (некорректная первая дата)'
        print(error_s)

    try:
        datetime.strptime(e_d, '%Y-%m-%d')
    except:
        flag = False
        error_s = 'False (некорректная вторая дата)'
        print(error_s)
    return flag
    #

In [8]:
def date_range(s_d, e_d):
  '''
  функция выводит значения даты, согласно задания если flag имеет значение True
  для итерации использована разница значений "номер дня с 1 января"
  '''
    list_date = []
    f = date_true_(s_d, e_d)
    if  f == True and s_d < e_d:
        start = datetime.strptime(s_d, '%Y-%m-%d')
        finish = datetime.strptime(e_d, '%Y-%m-%d')
        tts = start.timetuple()[7]
        ttf = finish.timetuple()[7]
        for d in range(ttf - tts + 1):
            list_date.append((start + timedelta(days = d)).strftime('%Y-%m-%d'))
    elif f == False or s_d > e_d:
        return list_date
    return list_date

In [9]:
def date_range_2(s_d, e_d):
  '''
  функция выводит значения даты, согласно задания если flag имеет значение True
  для итерации использован цикл while, с изменением значения при помощи функции
  timedelta(days=1) 
  '''
    start_date_dt = datetime.strptime(s_d, '%Y-%m-%d')
    end_date_dt = datetime.strptime(e_d, '%Y-%m-%d')
    list_date = []
    f = date_true_(s_d, e_d)
    if  f == True and s_d < e_d:
        while start_date_dt <= end_date_dt:
            list_date.append(start_date_dt.strftime('%Y-%m-%d'))
            start_date_dt += timedelta(days=1)
    elif f == False or s_d > e_d:
        return list_date
    return list_date

In [10]:
print(*date_range(start_date, end_date))
print(date_range_2(start_date, end_date))

2018-11-02 2018-11-03 2018-11-04 2018-11-05 2018-11-06 2018-11-07 2018-11-08
['2018-11-02', '2018-11-03', '2018-11-04', '2018-11-05', '2018-11-06', '2018-11-07', '2018-11-08']

Ваш коллега прислал код функции:
DEFAULT_USER_COUNT = 3
def delete_and_return_last_user(region, default_list=[‘A100’, ‘A101’, ‘A102’]):
""“
Удаляет из списка default_list последнего пользователя
и возвращает ID нового последнего пользователя.
”""
element_to_delete = default_list[-1]
default_list.remove(element_to_delete)
1
return default_list[DEFAULT_USER_COUNT-2]

При однократном вызове этой функции все работает корректно:
delete_and_return_last_user(1)
‘A101’
Однако, при повторном вызове получается ошибка IndexError: list index out of range.
Задание:
    Что значит ошибка list index out of range?
    Почему при первом запуске функция работает корректно, а при втором - нет?
'''
list index out of range - индекс списка вне диапазона.
После первого удаления элемента списка, изменяется индексация исходного списка,
и при повторном проходе, программа не обнаруживает элемента под заданным
индексом, так как он уже удален при первом проходе.Для того чтобы не
возникало таких проблем, можно создать пустой список и наполнить его
оставшимися элементами и работать с копией.